{
  "🟦": "portfolio",
  "🟩": "automation",
  "🔴": "hot-takes",
  "🖥": "it",
  "🏗": "manufacturing",
  "🗑️": "cleanup-J",
  "⛵": "cleanup-N",
  "🛶": "cleanup-I",
  "♻️": "archive",
  "👽": "aliens",
  "📌": "pinned-content"
}
